#slider{
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 100%;
    ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 300px;
        list-style: none;
        @extend .transition;
        li {
            position: relative;
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            /*  width: 500px;*/
            height: 300px;
            background: #ccc;
            text-align: center;
            line-height: 300px;
        }
    }
    a.prev, a.next {
        position: absolute;
        top: 40%;
        z-index: 999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        background: #2a2a2a;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
        &:hover {
            opacity: 1;
            -webkit-transition: all 0.2s ease;
        }
    }
    .prev {
        border-radius: 0 2px 2px 0;
    }
    .next {
        right: 0;
        border-radius: 2px 0 0 2px;
    }
    .dots-holder{
        width: 100%;
        float: left;
        text-align: center;
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            border:2px solid $blue;
        }
        .active, .dot:hover {
            background-color: $blue;
        }
    }


}